<!DOCTYPE html>
<html lang="en" ng-app="adminr-test">
<head>
    <meta charset="UTF-8">
    <title>Adminr-basic-layout example</title>

    <script src="../bower_components/angular/angular.js" type="application/javascript"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js" type="application/javascript"></script>
    <script src="../dist/index.js" type="application/javascript"></script>
    <script src="index.js" type="application/javascript"></script>
    <style ></style>
</head>
<body ng-controller="TestCtrl">

<h1>Adminr-basic-layout test</h1>

<a ui-sref="home">home</a>

<h4>Page structure</h4>
<ul>
    <li ng-class="{active:$homePage === $page}">
        <a ui-sref="home">{{$homePage.name}} {{$homePage.getStateName()}} ({{$homePage.getStateName()}}{{$homePage.isCurrent($page)?' - current':''}})</a>
        <ul>
            <li ng-repeat="page in $homePage.children">
                <a ui-sref="{{page.getStateName()}}">{{page.name}} ({{page.getStateName()}}{{page.isCurrent($page)?' - current':''}})</a>
            </li>
        </ul>
    </li>
    <li ng-repeat="page in $rootPage.children">
        <a ui-sref="{{page.getStateName()}}">{{page.name}} ({{page.getStateName()}}{{page.isCurrent($page)?' - current':''}})</a>
        <ul>
            <li ng-repeat="page in page.children">
                <a ui-sref="{{page.getStateName()}}">{{page.name}} ({{page.getStateName()}}{{page.isCurrent($page)?' - current':''}})</a>
            </li>
        </ul>
    </li>
</ul>

<hr />

current state: {{$page.name}} {{$page.getParentPages().length}}

<hr />

breadcrumbs: <span ng-repeat="parentPage in $page.getParentPages()"><a ui-sref="{{parentPage.getStateName()}}">{{parentPage.name}}</a> / </span> {{$page.name}}

<hr />
<div ui-view></div>

</body>
</html>